* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #fff;
    -webkit-box-shadow: 0px -16px 7px 15px #000000;
    box-shadow: 0px -16px 7px 15px #000000;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;

    .logo {
        width: 150px;
        position: relative;
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-top: 50px;
            width: 100%;
            height: auto;
            transition: 0.5s;
        }

        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            
            img {
                width: 90%;
            }
        }
    }

    .menu-items {
            position: absolute;
            right: 0;
            margin-right: 25px;

        ul {
            list-style-type: none;
            margin: 0;
    
            li {
                display: inline-block;
                font-size: 24px;
                margin-left: 20px;
                font-weight: 400;
                font-family: 'Bowlby One SC', cursive;

                a {
                    position: relative;
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        color: #000;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #000;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.3s ease-in-out 0s;
                    }

                    &:hover::before {
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.nav-placeholder {
    height: 70px;
    width: 100%;
}