* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 2000px;
}

nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  z-index: 99;
  transition: top 0.3s;
}
nav .logo-bar {
  height: 70px;
  display: flex;
  align-items: center;
  max-width: 1246px;
  margin: auto;
}
nav .logo-bar .logo {
  width: 150px;
  margin-top: 10px;
}
nav .logo-bar .logo img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}
nav .logo-bar .logo a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-items {
  height: 60px;
  display: flex;
  align-items: center;
  max-width: 1246px;
  margin: auto;
}
nav .menu-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav .menu-items ul li {
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  font-weight: 400;
  font-family: "Mulish",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
nav .menu-items ul li a {
  position: relative;
  color: #000;
  text-decoration: none;
}
nav .menu-items ul li a:hover {
  color: #000;
}
nav .menu-items ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  margin-top: 5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav .menu-items ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-placeholder {
  height: 200px;
  width: 100%;
}

.top-section {
  max-width: 1150px;
  height: 65vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.top-section .top-left {
  position: relative;
  width: 60%;
  max-width: 60%;
  background-color: #000;
  background-image: url("../img/hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top-section .top-left .hero-text {
  height: 125px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  margin-left: -25px;
  margin-bottom: -62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 25px 0px 25px;
  border-left: 4px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.top-section .top-left .hero-text h4 {
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  margin: 0;
}
.top-section .top-left .hero-text p {
  margin: 0;
}
.top-section .top-right {
  max-width: 35%;
  width: 35%;
  background-color: #f0f7f7;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top-section .top-right h5 {
  font-size: 30px;
  margin: 15px 0px 15px 0px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  text-align: center;
}
.top-section .top-right a {
  height: 25%;
  text-decoration: none;
}
.top-section .top-right a .top-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 25px 0px 25px;
}
.top-section .top-right a .top-item .image {
  height: 80%;
  min-width: 130px;
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: .5s;
}
.top-section .top-right a .top-item .image:hover {
  background-size: 150%;
  transition: .5s;
}
.top-section .top-right a .top-item .text {
  height: 80%;
  width: 100%;
  font-family: "Mulish",sans-serif;
  padding: 10px 5px 10px 5px;
}
.top-section .top-right a .top-item .text p {
  margin: 0;
  color: #000;
}

.single-page-section {
  max-width: 1150px;
  margin: auto;
}
.single-page-section h3 {
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 30px;
}
.single-page-section p {
  font-family: "Mulish",sans-serif;
  margin-bottom: 25px;
}
.single-page-section .top-wrapper {
  display: flex;
  justify-content: space-between;
}
.single-page-section .top-wrapper .top-img {
  height: 550px;
  width: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.single-page-section .top-wrapper .top-info {
  width: 50%;
}
.single-page-section .top-wrapper .top-info h3 {
  font-size: 28px;
  font-weight: 400;
}
.single-page-section .top-wrapper .top-info ul li {
  margin-bottom: 15px;
}

.instructions-wrapper h3 {
  font-size: 28px;
  font-weight: 400;
}
.instructions-wrapper span {
  font-weight: 700;
}
.instructions-wrapper span::before {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.65);
}
.instructions-wrapper span::after {
  position: absolute;
  top: -2px;
  left: 0;
  content: '';
  display: inline-block;
}

/*# sourceMappingURL=stylesheet.css.map */
