* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 2000px;
}

nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    z-index: 99;
    transition: top 0.3s;

    .logo-bar {
        height: 70px;
        display: flex;
        align-items: center;
        max-width: 1246px;
        margin: auto;

        .logo {
            width: 150px;
            margin-top: 10px;
    
            img {
                width: 100%;
                height: auto;
                transition: 0.5s;
            }
    
            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .menu-items {
        height: 60px;
        display: flex;
        align-items: center;
        max-width: 1246px;
        margin: auto;
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
                display: inline-block;
                font-size: 14px;
                margin-left: 20px;
                font-weight: 400;
                font-family: "Mulish",sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;

                a {
                    position: relative;
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        color: #000;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: -5px;
                        margin-top: 5px;
                        left: 0;
                        background-color: #000;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.3s ease-in-out 0s;
                    }

                    &:hover::before {
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.nav-placeholder {
    height: 200px;
    width: 100%;
}

.top-section {
    max-width: 1150px;
    height: 65vh;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .top-left {
        position: relative;
        width: 60%;
        max-width: 60%;
        background-color: #000;
        background-image: url("../img/hero1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    
        .hero-text {
            height: 125px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            margin-left: -25px;
            margin-bottom: -62px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 25px 0px 25px;
            border-left: 4px solid rgba(0,0,0,0.80);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    
            h4 {
                font-size: 40px;
                font-family: 'Libre Baskerville', serif;
                font-weight: 400;
                margin: 0;
            }

            p {
                margin:0;
            }
        }
    }

    .top-right {
        max-width: 35%;
        width: 35%;
        background-color: #f0f7f7;
        height: 100%;
        display: flex;
        flex-direction: column;

        h5 {
            font-size: 30px;
            margin: 15px 0px 15px 0px;
            font-family: 'Libre Baskerville', serif;
            font-weight: 400;
            text-align: center;
        }

        a {
            height: 25%;
            text-decoration: none;

        .top-item {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0px 25px 0px 25px;

            .image {
                height: 80%;
                min-width: 130px;
                // background-image: url("../img/dish-1.jpg");
                background-size: 130%;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: .5s;

                &:hover {
                    background-size: 150%;
                    transition: .5s;
                }
            }

            .text {
                height: 80%;
                width: 100%;
                font-family: "Mulish",sans-serif;
                padding: 10px 5px 10px 5px;

                p {
                    margin: 0;
                    color: #000;
                }
            }
        }
    }
    }
}

.single-page-section {
    max-width: 1150px;
    margin: auto;

    h3 {
        font-size: 40px;
        font-family: 'Libre Baskerville', serif;
        max-width: 600px;
        margin-top: 0;
    }
}